<main class=" md-5">
  <div class="container-fluid text-center autor">
    <div>
      <div class="row">
        <div class="col text-left justify-content-center">
          <h3>Nombre autor</h3>
        </div>
      </div>
    </div>
    <hr />
    <div class="content-fluid">
      <div class="row">
        <div class="col-8">
          <article class="col">
            <div class="card text-center">
              <div class="card-header">
                Header noticia
              </div>
              <div class="card-body">
                <h5 class="card-title">Titulo noticia 1</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <a href="./Details.html" class="btn btn-link"
                  >Seguir leyendo...</a
                >
              </div>
              <div class="card-footer text-muted">
                2 days ago asd
              </div>
            </div>
          </article>
          <article class="col">
            <div class="card text-center">
              <div class="card-header">
                Header noticia
              </div>
              <div class="card-body">
                <h5 class="card-title">Titulo noticia 2</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <a href="./Details.html" class="btn btn-link"
                  >Seguir leyendo...</a
                >
              </div>
              <div class="card-footer text-muted">
                4 days ago
              </div>
            </div>
          </article>
        </div>
        <div class="col-4">
          <div class="row">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              soluta commodi minus, qui libero dolorum consequuntur sapiente
              autem explicabo repellendus perspiciatis consequatur unde ab
              deserunt exercitationem laborum labore voluptates voluptas.
            </p>
            <img [src]="imgPath" alt="img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
