<main>
  <h3 class="about title">About...</h3>
  <div class="about body">
      <div class="row">
          <div class="col-3">
              <img src="../../assets/homero-intelectual.jpg" alt="Img-About">
          </div>
          <div class="col-9">
                  <p class="text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Quia expedita harum neque beatae, dolorum sapiente! Nemo debitis natus facere vitae,
                      atque sit amet esse modi rerum quod pariatur est! Consectetur.
                  </p>
          </div>
      </div>
  </div>
</main>
