img {
    height: 10rem;
    width: 100%;
  }
  .seguir-leyendo {
    //Dejar en parte inferior del body
    vertical-align: bottom;
  }
article { 
    margin: 5px 0px;
    display: block;
    }