img {
    height: 10rem;
    width: 100%;
  }
  .seguir-leyendo {
    //Dejar en parte inferior del body
    vertical-align: bottom;
  }
article { 
  color: darkgray;

    margin: 5px 0px;
    display: block;
    .loading {
      width: 10rem;;
    }
    .title {
      font-weight: bold;
      padding: 10px;
    }
    .daysAgo {

    }
  }