<form class="container-fluid" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="autor">Autor </label>
    <select 
    name="autorName" 
    [(ngModel)]="autorID" 
    required 
    #autor="ngModel">
      <option [value]="autor.id" *ngFor="let autor of autores">
        {{ this.autor.username }}
      </option>
    </select>
    <span
      class="text-danger"
      *ngIf="autor.invalid && autor.dirty"
      >Please select an author</span
    >  
  </div>
  <div class="form-group">
    <label for="titulo">Titulo</label>
    <input
      type="text"
      required
      minlength="3"
      name="tituloName"
      [(ngModel)]="titulo"
      #titulo1="ngModel"
    />
    <span
    class="text-danger"
    *ngIf="titulo1.invalid && titulo1.dirty"
    >Please check titulo!</span
  >  
  </div>
  <div class="form-group">
    <textarea
      name="contenido"
      cols="30"
      rows="10"
      required
      minlength="10"
      [(ngModel)]="contenido"
      #contenido1="ngModel"
    >
    </textarea>
    <span
    class="text-danger"
    *ngIf="contenido1.invalid && contenido1.dirty"
    >Please check contenido!</span
  >   
  </div>
  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
    Submit
  </button>
</form>
