<form class="container-fluid" (ngSubmit)="onSubmit(form)" [(ngModel)]="form">
  <div class="form-group">
    <!-- VALIDACIONES-->
    <div
      class="input-group mb-3"
      [ngClass]="{ 'has-error': form.errors, 'has-success': !form.errors }"
    >
      <div *ngIf="selectedAutor.invalid" class="help-block" style="color: #813838">
        <br />
        <p>Please select an author!</p>
      </div>
      <div *ngIf="titulo.invalid" class="help-block" style="color: #813838">
        <br />
        <p>Titulo is required!</p>
      </div>
      <div
        *ngIf="contenido.invalid"
        class="help-block"
        style="color: #813838"
      >
        <br />
        <p>Please complete the body!</p>
      </div>
    </div>
    <label for="autor">Autor </label>
    <select id="autor" name="autorName" [(ngModel)]="autorID" required>
      <option [value]="autor.id" *ngFor="let autor of autores">
        {{ this.autor.username }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="titulo">Titulo </label>
    <input
      type="text"
      id="titulo"
      required
      minlength="3"
      name="tituloName"
      [formControlName]="titulo"
    />
  </div>
  <div class="form-group">
    <textarea
      name="contenido"
      id="contenido"
      cols="30"
      rows="10"
      required
      minlength="10"
      name="contenidoName"
      [formControlName]="contenido"
    >
    </textarea>
  </div>
  <!-- <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button> -->
  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
    Submit
  </button>
</form>
