<form class="container-fluid" (ngSubmit)="onSubmit(ngForm)" [formGroup]="ngForm">

  <div class="form-group">
    <label for="titulo">Nombre </label>
    <input type="text" name="nombre" formControlName="nombre" />
  </div>
  <div class="form-group">
    <label for="titulo">Username </label>
    <input type="text" name="usuario" formControlName="usuario" />
  </div>
  <div class="form-group">
    <label for="titulo">Email </label>
    <input type="text" name="email" formControlName="email" />
  </div>

  <div class="form-group" *ngIf="ngForm.invalid">
      <button  type="button" class="btn btn-link" (onclick)="this.showError('error vite')">Show errors</button>
  </div>

  <button type="submit" [disabled]="this.ngForm.invalid" class="btn btn-primary">
    Submit
  </button>
</form>