main {
  margin-bottom: 2rem;
}
.logo {
width: 150px;
}
.principal {
  img {
    height: 10rem;
    width: 100%;
  }
}
.blog-articles {
  article { 
  margin: 5px 0px;
  display: block;
  }
}