main {
  margin-bottom: 2rem;
}
.logo {
width: 150px;
}
.principal {
  img {
    height: 10rem;
    width: 100%;
  }
}
.blog-articles {
  .art { 
  // margin: 1px 4px;
  display: block;
  }
}