<div class="container-fluid details">
  <div class="card bg-dark text-white">
    <img src="./Resources/paisaje-2.jpg" class="card-img" alt="..." />
    <div class="card-img-overlay">
      <h2 class="card-title">Titulo del post</h2>
    </div>
  </div>
  <p class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque,
    consectetur sint quisquam quia molestias nihil, quaerat iste unde similique
    facilis amet labore fugit reiciendis quidem soluta repudiandae, odit quod?
  </p>
  <hr />
  <p id="fromService">
    .....
  </p>
  <p class="updated-text">Last updated 3 mins ago</p>
  <p>
    Date: dd/mm/aaaa - <a class="btn-link" routerLink="/autor">Autor</a>
  </p>
</div>
