<div class="container-fluid details">
  <div *ngIf="this.isLoading">
      <img [src]="imgPath" alt="Img 1" class="img-fluid news-img" />
  </div>
  <div *ngIf="!this.isLoading">
    <div *ngIf="this.hasPost">
        <div class="card bg-dark text-white text-center">
            <img [src]="this.imgPath" class="card-img" alt="..." />
            <div class="card-img-overlay">
              <h2 class="card-title">{{ this.post.title }}</h2>
            </div>
          </div>
          <p class="text">
            {{ this.post.body }}
          </p>
          <hr />
          <p class="updated-text">{{ this.post.daysAgo }}</p>
          <p>
            Date: {{ this.date }} - <a class="btn-link" routerLink="/autor">{{ this.author.name }}</a>
          </p>
    </div>
    <div *ngIf="!this.hasPost">
      No se encontro el post :(
    </div>
  </div>
</div>
